####################################################
# This is an example file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

global:
  metallb:
    addresses: <range>

servers:
- name: <value>
  ipv4: <value>
  ipv4_mask: <numerical value>
  ipv4_gw: <value>
  ipv6: <value>
  ipv6_mask: <numerical value>
  ipv6_gw: <value>
  search_domains: "<value>"

