####################################################
# This is an example file. Do not add actual       #
# values here. See README.md for instructions.     #
####################################################

global:
  metallb:
    addresses: <value>

servers:
- name: <value>
  ipv4: <value allowed by VirtualBox's Host-only network, e.g. 192.168.56.11>
  ipv4_gw: <value>
  ipv4_mask: <value>
  ipv6: <value>
  ipv6_gw: <value>
  search_domains: "<string value>"

